* {
    box-sizing: border-box;
}

html {
    background-color: antiquewhite;
}

body {
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

body > div {
    text-align: center;
}

nav {
    height: 60px;
    width: 100%;
    background-color: rgb(152, 255, 152);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    box-shadow: 2px 2px 2px -2px black;
}

nav > div {
    height: 100%;
}

#name > a {
    padding-left: 8px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

#links > a {
    text-decoration: none;
    color: black;
    margin: 8px;
    font-size: 16px;
}

#links > a:hover {
    color: gray;
    opacity: 0.7;
}

section {
    min-height: 100vh;
    background-color: rgb(152, 255, 152);
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
    box-shadow: 2px 2px 2px -2px black;
    width: min(1000px, 100%);
}

footer {
    height: 60px;
    width: 100%;
    background-color: rgb(152, 255, 152);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

footer > .foot-fadein  > img {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-grow: 2;
    flex-basis: 300px;
    flex-wrap: wrap;
    flex-direction: column;
}

.imgone {
    height: 500px;
    margin-bottom: 60px;
    animation: fadeIn 1s;
}

.imgtwo {
    margin: 60px;
    margin-left: 250px;
    height: 700px;
    animation: fadeIn 3s;
}

.imgthree {
    height: 700px;
    margin-bottom: 20px;
    margin-left: 1300px;
    animation: fadeIn 5s;
}

footer > .socials {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

footer > .socials > img {
    height: 40px;
    padding: 5px; 
    justify-content: end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header h1 {
    font-size: 56px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}

.para > p {
    font-size: 24px;
    text-align: center;
}

.quote img {
    height: 500px;
    margin: 12px;
}

@media screen and (max-width: 1810px) {
    footer > .foot-fadein > img  {
        display: none;
    }
}

.about {
    min-height: 100px;
    border-bottom: solid black;
}

.music > .music-div {
    position: relative;
    height: 100%;
    padding: 8px;
}

.music-div > p {
    width: 70%;
}

.music-div > img {
    float: right;
    margin: -180px 24px 24px 24px;
    flex-grow: 2;
    flex-basis: 300px;
}

.music img {
    height: 180px;
}

.music {
    min-height: 290px;
    border-bottom: solid black;
}

@media screen and (max-width: 900px) {
    .music-div > img {
        margin: 0;
        float: inline-start;
    }
    .box-div img {
        margin: 0;
        float: inline-start;
    }
    .box-div > .class {
        margin: 0;
        float: inline-start;
    }
    .box-div > .class-two {
        margin: 0;
        float: inline-start;
    }
}

.box > .box-div {
    position: relative;
    min-height: 200px;
    width: 90%;
    background-color: antiquewhite;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 15px;
}

.box-div > p {
    width: 70%;
}

.box-div > img {
    float: right;
    margin: -150px 12px 24px 24px;
    flex-grow: 2;
    flex-basis: 300px;
}

.box img {
    height: 180px;
}

.box {
    min-height: 290px;
}

.box-div > h2 {
    border-bottom: solid black;
}

.box-div > .class {
    transform: rotate(270deg);
    padding-right: 50px;
}

.contact {
    text-align: left;
    margin: 8px;
    font-size: 36px;
}

.form-box {
    background-color: antiquewhite;
    height: 700px;
    margin: 40px;
    width: 80%;
    border-radius: 15px;
}

form {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h1 {
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
}

form button {
    padding: 15px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    background-color: rgb(152, 255, 152);
}

form button:hover {
    opacity: 0.7;
}